body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400; /* Regular default weight */
}

.robloxHeader {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    line-height: 0px;
}
