@font-face {
  	font-family: 		"JetBrains Mono";
	src: 			url("../fonts/JetBrainsMono-Regular.woff2") format("woff2");
	font-weight: 		400;
	font-style: 		normal;
	font-display: 		swap;
}

body {
	background:		rgba(0,30,25,1);

	font-family:		"JetBrains Mono", monospace;
	color:			rgba(0,230,255,1);

	display: 		flex;
	flex-direction: 	column;
	align-items: 		center;
	justify-content: 	center;
}

body::-webkit-scrollbar {
  	display: 		none;
}

a {
	text-decoration: 	none;
}

.asciiArt {
  	font-family: 		"JetBrains Mono", monospace;
	white-space: 		pre;
	line-height: 		0.5;
	font-size: 		16px;	
}
 
.aboutSection {
	display: 		flex;
	flex-direction: 	column;
	align-items: 		center;
	justify-content: 	center;
	text-align:		center;
}


.technologiesSection {
	display: 		flex;
	flex-direction: 	column;
	align-items: 		center;
	justify-content: 	center;
}
.technologiesContainer {
	display:		grid;
	width:			550px;
	grid-template-columns:  auto auto auto auto auto auto;
	align-items:		center;
	justify-content:	center;
	gap:			4px;
}

.technologiesContainer > div {
	width:			100px;
	height:			30px;
	display: 		flex;
	align-items:		center;
	justify-content:	center;
	background-color:	rgba(0,0,0,0.25);
}

.projectsSection {
	display: 		flex;
	flex-direction: 	column;
	align-items: 		center;
	justify-content: 	center;
}

.projectsContainer {
	display:		grid;
	grid-template-columns:  auto auto auto;
	align-items:		center;
	justify-content:	center;
	gap:			10px
}

.projectsContainer > div {
	width:			450px;
	height:			575px;
	display: 		flex;
	flex-direction: 	column;
	align-items:		center;
	justify-content:	flex-start;
	border:			1px solid rgba(50,230,255,0.2);
	background-color:	rgba(0,0,0,0.25);
	color:			#fff;
}

.projectsHeader {
	display: 		flex;
	flex-direction: 	horizontal;
	width: 			450px;
	height: 		45px;
	box-sizing: 		border-box;

}

.projectsTitle {
	width: 			275px;
	padding-left: 		12px;
	color:			rgba(50,230,255,1)
}

.projectsSource {
	width: 			175px;
	padding-right: 		12px;
	text-align:		right;
}

.openSource {
	color:			rgba(15,255,125,1)

}

.closedSource {
	color:			rgba(255,125,25,1)

}

.projectsThumbnail {
	width:			427px;
	height:			280px;
	background-color:	#fff;
}

.projectsDescription {
	height:			200px;
	text-align: 		justify;
	padding-left: 		12px;
	padding-right: 		12px;
	color:			rgba(140,190,200,1);

}

.projectsFooter {
	display: 		flex;
	flex-direction: 	row;
	flex-wrap: 		wrap;
	height: 		45px;
	width: 			426px;
	padding-left: 		12px;
	padding-right: 		12px;
	align-content: 		flex-end;
	align-items: 		flex-start;
	justify-content: 	flex-start;
	gap: 			2px 2px;
	padding-bottom:		12px;
}


.footer {
	display: 		flex;
	flex-direction: 	horizontal;
	height: 		150px;

}
