.pythonText {
	color: #6BCBFF;
}

.typescriptText {
	color: #3FA9FF;
}

.javascriptText {
	color: #FFE55C;
}

.cppText {
	color: #8A7DFF;
}

.javaText {
	color: #FF9A3D;
}

.luaText {
	color: #C07BFF;
}

