.profileTopBar {
  width: 450px; 
  height: 180px;
}

.profileContent {
  background: url(".././assets/ESASNAP.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.profileImage {
  width: auto;
  height: auto; 
  max-height: 110px;
}

.textDiv {
  display: flex;
  flex-direction: column; 
  gap: 6px;
}

.name {
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin: 0;
  white-space: nowrap; 
  text-shadow: 0px 0px 8px black;
}

.subtext {
  font-size: 16px; 
  font-weight: bold; 
  color: white; 
  margin: 0; 
  text-shadow: 0px 0px 6px black; 
  padding-left: 3px;
}
