@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

.sidePanelTopBar {
  width: 620px; 
  height: 410px;
}

.sidePanelContent {
  background-color: black;
}

.formattedText {
  font-size: 10px; 
  font-family: 'JetBrains Mono', 'Courier New', Courier, monospace; 
  font-weight: 500; 
  color: rgba(200,200,240,1);
  text-align: left;
  line-height: 1;
  letter-spacing: 0;
  white-space: pre;
}

.line {
  font-size: 10px; 
  font-family: 'JetBrains Mono', 'Courier New', Courier, monospace; 
  font-weight: 500; 
  color: rgba(200,200,240,1);
}

.formattedParagraph {
  font-size: 13px; 
  font-family: 'JetBrains Mono', 'Courier New', Courier, monospace; 
  font-weight: 500; 
  color: rgba(200,200,240,1);
}


