.projectsDiv {
  display: flex;
  flex-direction: row;
  gap: 50px;
  height:500px;
  justify-content: center;
  align-items: flex-start;
}

.projectsLeftWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px
}

.projectsSideDiv {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  bottom: 40px;
  width: 300px;
  height: 500px;
}

.projectsiMacDiv {
  width: 350px;
  height: 300px;
}

.projectsGrid {
  width: 730px;
  height: 530px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding-top:10px;
  padding-bottom:10px;
  mask-image: linear-gradient(to bottom, black 95%, transparent 100%);  
  overflow-x:hidden;
  overflow-y: scroll;
}

.projectsGrid::-webkit-scrollbar {
  display: none;
}

.projectsGrid > div {
  width: 350px; 
  height: 225px;
}

