.pagesDiv {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 60px;
  width: 100%;
}

.dockerDiv {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  bottom: 100px;
  width: 100%;
}
