@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;900&display=swap);
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

.caresyncMain {
  z-index: 1;
  height: 195px;
  background: #FFFFFF; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.caresyncBackground {
  height: 105%;
  width: 100%;
  object-fit: contain;
  z-index: 3;
}
